.App {
  text-align: center;
}

.container span {
  /* border: 2px solid red; */
  width: auto;
  padding: 5px;
  font-size: larger;
}

.buttons {
  margin: 10px;

}

.buttons button {
  margin: 5px;
}